.reviewCard {
    width: 36rem;
    /* height: 12rem; */
    position: relative;
    border: 1px solid rgb(244, 201, 146);
    margin: 2rem 1rem;
    padding: 1rem;
    box-shadow: 0px 0px 25px rgba(244, 201, 146, 0.5);

}

.heart-icon {
    position: absolute;
    top: 10px;
    right: 10px;

}

.userTitle {
    color: #945b31;
}

.StarRareviewStars {
    width: 1.2rem;
}

.txt-coment{
    color: #945b31;

}

.btn-delete{
    color: #945b31;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}