.btn-search{
    border: 1px solid #562413;
    border-radius: 1rem;
    color: #945b31;
    background-color: #f4c992;
}

.btn-search:hover{
    border: 1px solid #562413;
    border-radius: 1rem;
    color: #562413;
    background-color: #f4c992;
}

.input-search{
    border: 1px solid #945b31;
    border-radius: 1rem;
    color: #945b31;
}

.input-search::placeholder{
    color: #f4c992;
    font-weight: 100;
}

.input-search:active{
    border: 1px solid #f4c992 !important;
}

.input-search:focus {
    outline: 0;
    box-shadow: none;
}


.mini-img-cookie-search{
    width: 5rem;
}

.mini-card-cookie{
    width: 14rem;
    height: 7rem;
    z-index: 20;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
}

.txt-mini-card{
    color: #945b31;
    font-size: .8rem;
    margin: 0;
}

.link{
    text-decoration: none;
}