h1{
    color: #8b6345;
    text-align: center;
    margin: 2rem 0;
}

.container-about{
    /* padding: 3rem 0; */
    margin: 3rem auto;
    color: #ad8261;
}
.img-team{
    width: 20rem;
    /* height: 35rem; */
}