
.bg-custom-nav{
    background-color: #f4c992;
    font-family: "Poetsen One", sans-serif;
    padding: 0rem 2rem;

}

.name-logo-navbar{
    color: #562413;
    font-weight: 600;
    background-color: #f4c992;
}

.name-logo-navbar:hover{
    color: #562413;
}

.txt-navbar{
    color: #ba8f6f;
}

.txt-navbar:hover{
    color: #562413;
}

.link{
    text-decoration: none;
}