.footerContainer{
    width: 100%;
    padding: 2rem;
    background-color: #8b6345;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;

    /* position: fixed; */
}

.left{
    width: 10%;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
}

.left .link{
    text-decoration: none;
    color: #f2ce99;
    font-weight: 600;
    text-transform: uppercase;
}

.right{
    width: 40%;
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    align-items: center;
}

.box-colaboration{
    display: flex;
    margin: 0 .5rem;
}

.txt-name{
    color: #f2ce99;
    margin: 0 .5rem;
}
